<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <script src="/js/bootstrap.bundle.min.js"></script>
        <link href="/css/style.css" rel="stylesheet">
        <script src="/js/admin.js"></script>
        <title>Admin panel</title>
    </head>

    <body class="min-vh-100">
        <nav class="navbar sticky-top bd-navbar bg-dark p-2">
            <div class="container-fluid d-flex justify-content-start flex-nowrap ">
                <span class="admin-name navbar-brand text-white fw-bold fs-5 m-0">Username</span>
                <span class="navbar-text text-white fs-5">&nbsp;with&nbsp&nbsp;roles:&nbsp;</span>
                <span class="admin-role navbar-text text-white fs-5">ROLE</span>
                <div class=" nav-item d-flex flex-fill justify-content-end">
                    <a class="nav-link text-white-50 fs-5" href="/logout">Logout</a>
                </div>
            </div>
        </nav>

        <div class="d-flex my-3">
            <div id="sidebar" class="container d-flex flex-column flex-shrink-1 bg-light p-0 m-0 fix-size">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link rounded-1 active" href="#">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="role-user nav-link rounded-1" href="/user">User</a>
                    </li>
                </ul>
            </div>

            <div class="container d-flex flex-column flex-shrink-1 bg-light px-4 w-100">
                <div>
                    <h1 class="fw-bold">Admin panel</h1>
                </div>

                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active rounded-1" data-bs-toggle="tab" data-bs-target="#allUsers" href="#">Users table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link rounded-1" data-bs-toggle="tab" data-bs-target="#newUser" href="#">New User</a>
                    </li>
                </ul>

                <div class="tab-content border border-top-0">
                    <div class="tab-pane fade show active" id="allUsers">
                        <div class="p-2">
                            <span class="table-header fw-medium fs-5">All users</span>
                        </div>
                        <div class="p-3 bg-white">
                            <table class="users-table table table-striped table-hover align-middle">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">First name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Password</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="tab-pane fade border border-top-0" id="newUser">
                        <div class="p-2">
                            <span class="table-header fw-medium fs-5">Add new user</span>
                        </div>
                        <div class="container d-flex text-center justify-content-center bg-white">
                            <form id="createForm" class="row row-cols-1 justify-content-center fix-size">
                                <div class="col input-group-sm row my-2">
                                    <span class="fw-bold">First name</span>
                                    <input class="form-control rounded-1 text-center" type="text" name="username" required>
                                </div>
                                <div class="col input-group-sm row my-2">
                                    <span class="fw-bold">Last name</span>
                                    <input class="form-control rounded-1 text-center" type="text" name="surname">
                                </div>
                                <div class="col input-group-sm row my-2">
                                    <span class="fw-bold">Password</span>
                                    <input class="form-control rounded-1 text-center" type="text" name="password" required>
                                </div>
                                <div class="col input-group-sm row my-2">
                                    <span class="fw-bold">Email</span>
                                    <input class="form-control rounded-1 text-center" type="text" name="email">
                                </div>
                                <div class="col input-group-sm my-2">
                                    <span class="fw-bold">Role</span>
                                    <select class="form-select form-select-sm rounded-1 overflow-auto" size="2" name="authorities" multiple required>
                                        <option value="ADMIN">ADMIN</option>
                                        <option value="USER">USER</option>
                                    </select>
                                </div>
                                <input id="btn" class="btn btn-success input-group-sm my-2" type="submit" value="Add new user">
                            </form>
                        </div>
                    </div>

                    <div id="editModal" class="modal fade" tabindex="-1">
                        <form id="editForm" class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header border-0">
                                    <h1 class="modal-title fs-5">Edit user</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <div class="modal-body text-center d-block p-0 fix-size">
                                        <div class="input-group-sm row my-2">
                                            <span class="fw-bold p-0">ID</span>
                                            <input class="modal-id form-control rounded-1 text-center disabled" type="text" name="id" readonly>
                                        </div>
                                        <div class="input-group-sm row my-2">
                                            <span class="fw-bold">First name</span>
                                            <input class="modal-name form-control rounded-1 text-center" type="text" name="username" required>
                                        </div>
                                        <div class="input-group-sm row my-2">
                                            <span class="fw-bold">Last name</span>
                                            <input class="modal-surname form-control rounded-1 text-center" type="text" name="surname">
                                        </div>
                                        <div class="input-group-sm row my-2">
                                            <span class="fw-bold">Password</span>
                                            <input class="modal-password form-control rounded-1 text-center" type="text" name="password" required>
                                        </div>
                                        <div class="input-group-sm row my-2">
                                            <span class="fw-bold">Email</span>
                                            <input class="modal-email form-control rounded-1 text-center" type="text" name="email">
                                        </div>
                                        <div class="input-group-sm my-2">
                                            <span class="fw-bold">Role</span>
                                            <select class="modal-select-role form-select form-select-sm rounded-1 overflow-auto" size="2" name="authorities" multiple required>
                                                <option value="ADMIN">ADMIN</option>
                                                <option value="USER">USER</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer border-0">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Edit</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div id="deleteModal" class="modal fade" tabindex="-1">
                        <form id="deleteForm" class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header border-0">
                                    <h1 class="modal-title fs-5">Delete user</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <div class="modal-body text-center d-block fix-size">
                                        <div class="input-group-sm row my-2">
                                            <span class="fw-bold">ID</span>
                                            <input class="modal-id form-control rounded-1 text-center" type="text" name="id" readonly>
                                        </div>
                                        <div class="input-group-sm row my-2">
                                            <span class="fw-bold">First name</span>
                                            <input class="modal-name form-control rounded-1 text-center" type="text" name="username" readonly>
                                        </div>
                                        <div class="input-group-sm row my-2">
                                            <span class="fw-bold">Last name</span>
                                            <input class="modal-surname form-control rounded-1 text-center" type="text" name="surname" readonly>
                                        </div>
                                        <div class="input-group-sm row my-2">
                                            <span class="fw-bold">Password</span>
                                            <input class="modal-password form-control rounded-1 text-center" type="text" name="password" readonly>
                                        </div>
                                        <div class="input-group-sm row my-2">
                                            <span class="fw-bold">Email</span>
                                            <input class="modal-email form-control rounded-1 text-center" type="text" name="email" readonly>
                                        </div>
                                        <div class="input-group-sm my-2">
                                            <span class="fw-bold">Role</span>
                                            <select class="modal-select-role form-select form-select-sm rounded-1 overflow-auto" size="2" name="authorities" multiple disabled>
                                                <option value="ADMIN">ADMIN</option>
                                                <option value="USER">USER</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer border-0">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>